@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px !important;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F5F7FA;
    color: #333;
}

/* width and height */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #D1D5DB; /* Light gray */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6B7280; /* Gray */
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4B5563; /* Darker gray on hover */
}
